# https://www.freedesktop.org/software/systemd/man/systemd.service.html

[Unit]
Description="Autostart Plasma (Wayland)"
# After=default.target
# Unsure if any targets are needed: systemctl --user list-units --type=target

[Service]
Type=forking
# RemainAfterExit=yes
# PIDFile=
ExecStart=/home/Documents/Scripts/plasma-autostart start
# ExecStop=/home/Documents/Scripts/plasma-autostart stop

[Install]
WantedBy=default.target
# WantedBy=graphical-session.target
