[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=3
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
layoutId=
location=6
maxLength=100
name=Tasks
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=200
timerShow=200
viewType=0
visibility=5
wallpaperplugin=org.kde.image

[Containments][1][Applets][4]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][4][Configuration]
PreloadWeight=42

[Containments][1][Applets][4][Configuration][General]
animationLauncherBouncing=false
animationNewWindowSliding=false
animationWindowAddedInGroup=false
animationWindowInAttention=false
animationWindowRemovedFromGroup=false
hoverAction=PreviewWindows
isInLatteDock=true
manualScrollTasksType=Disabled
modifierClickAction=Close
previewWindowAsPopup=true
showWindowActions=true
taskScrollAction=ScrollNone

[Containments][1][ConfigDialog]
DialogHeight=600
DialogWidth=586

[Containments][1][Configuration]
PreloadWeight=0

[Containments][1][General]
activeWindowFilter=FromAllScreens
advanced=false
alignment=4
alignmentUpgraded=true
appletOrder=4
appletShadowsEnabled=false
autoSizeEnabled=false
backgroundRadius=50
configurationSticker=true
floatingInternalGapIsForced=false
iconSize=26
lengthExtMargin=25
maxLength=50
minLength=5
panelSize=100
panelTransparency=50
plasmaBackgroundForPopups=true
shadowOpacity=60
shadowSize=45
shadows=All
shadowsUpgraded=true
showGlow=false
splitterPosition=1
splitterPosition2=4
tasksUpgraded=true
windowColors=ActiveWindowColors
zoomLevel=0

[Containments][1][Indicator]
customType=org.kde.latte.dashtopanel
enabled=false
type=org.kde.latte.dashtopanel

[Containments][1][Indicator][org.kde.latte.dashtopanel][General]
enabledForApplets=false
lengthPadding=0.5
lineThickness=0.08
maxBackgroundOpacity=0.35

[LayoutSettings]
activities=
backgroundStyle=0
color=purple
customBackground=
customTextColor=
icon=com.thebrokenrail.MCPIReborn
lastUsedActivity=
launchers=
popUpMargin=-1
preferredForShortcutsTouched=true
schemeFile=
showInMenu=true
version=2
