[Desktop Entry]
Version=1.0
Name=PipeWire Media System
Name[de]=PipeWire Mediensystem
Categories=Audio;AudioVideo
Comment=Start the PipeWire Media System
Comment[de]=Das PipeWire Mediensystem starten
Exec=audio-exec
Terminal=false
Type=Application
X-GNOME-HiddenUnderSystemd=true
X-KDE-HiddenUnderSystemd=true
X-systemd-skip=true
